extends layout

include _includes/sharedHTMLfunctions



block content
    - var tarotCards = tarots;
    - var tarotIndex = tarots.length;
    - var i = 9;
    .row.banner
        .col-12
            h1= pageHeader.title

            h3= pageHeader.strapLine

    .row.align-items-center.h-100
        .col
            each tarot,index in tarots
                if index === 3
                    .card.text-center.d-flex.align-items-center.justify-content-center
                        .card-block.d-flex.align-items-center.justify-content-center
                            .container.d-flex.align-items-center.justify-content-center
                                img(src=`/images/cards/${tarot.img}` class=`${tarot.alignment}-card d-flex align-items-center justify-content-center`)
                                .overlay
                                    .hidden-text
                                        .tarot-dec
                                            p=`Card draw number: ${(10 - index)}`
                                            p=tarot.name
                                            each fortune in tarot.fortune_telling
                                                p=fortune

        .col
            each tarot,index in tarots
                if index === 4
                    .card.text-center.d-flex.align-items-center.justify-content-center
                        .card-block.d-flex.align-items-center.justify-content-center
                            .container.d-flex.align-items-center.justify-content-center
                                img(src=`/images/cards/${tarot.img}` class=`${tarot.alignment}-card d-flex align-items-center justify-content-center`)
                                .overlay
                                    .hidden-text
                                        .tarot-dec
                                            p=`Card draw number: ${(10 - index)}`
                                            p=tarot.name
                                            each fortune in tarot.fortune_telling
                                                p=fortune
            each tarot,index in tarots
                if index === 0 || index === 1
                    .card.text-center.d-flex.align-items-center.justify-content-center
                        .card-block.d-flex.align-items-center.justify-content-center
                            .container.d-flex.align-items-center.justify-content-center
                                if index === 1 && tarot.alignment === 'negative'
                                    img(src=`/images/cards/${tarot.img}` class='card-two-negative')
                                if index === 1 && tarot.alignment === 'positive'
                                    img(src=`/images/cards/${tarot.img}` class='card-two-positive')
                                if index === 0
                                    img(src=`/images/cards/${tarot.img}` class=`${tarot.alignment}-card d-flex align-items-center justify-content-center`)
                                .overlay
                                    .hidden-text
                                        .tarot-dec
                                            p=`Card draw number: ${(10 - index)}`
                                            p=tarot.name
                                            each fortune in tarot.fortune_telling
                                                p=fortune

            each tarot,index in tarots
                if index === 2
                    .card.text-center.d-flex.align-items-center.justify-content-center
                        .card-block.d-flex.align-items-center.justify-content-center
                            .container.d-flex.align-items-center.justify-content-center
                                img(src=`/images/cards/${tarot.img}` class=`${tarot.alignment}-card d-flex align-items-center justify-content-center`)
                                .overlay
                                    .hidden-text
                                        .tarot-dec
                                            p=`Card draw number: ${(10 - index)}`
                                            p=tarot.name
                                            each fortune in tarot.fortune_telling
                                                p=fortune

        .col
            each tarot,index in tarots
                if index === 5
                    .card.text-center.d-flex.align-items-center.justify-content-center
                        .card-block.d-flex.align-items-center.justify-content-center
                            .container.d-flex.align-items-center.justify-content-center
                                img(src=`/images/cards/${tarot.img}` class=`${tarot.alignment}-card d-flex align-items-center justify-content-center`)
                                .overlay
                                    .hidden-text
                                        .tarot-dec
                                            p=`Card draw number: ${(10 - index)}`
                                            p=tarot.name
                                            each fortune in tarot.fortune_telling
                                                p=fortune

        .col
            each tarot,index in tarots.reverse()
                if index < 4
                    .card.text-center.d-flex.align-items-center.justify-content-center
                        .card-block.d-flex.align-items-center.justify-content-center
                            .container.d-flex.align-items-center.justify-content-center
                                img(src=`/images/cards/${tarot.img}` class=`${tarot.alignment}-card d-flex align-items-center justify-content-center`)
                                .overlay
                                    .hidden-text
                                        .tarot-dec
                                            p=`Card draw number: ${(10 - index)}`
                                            p=tarot.name
                                            each fortune in tarot.fortune_telling
                                                p=fortune




