extends layout

include _includes/sharedHTMLfunctions

block content
    .row.banner
        .col-12
            h1= pageHeader.title

            small &nbsp;#{pageHeader.strapLine}

    .row
        .col-12.col-md-8
            .error= message

            each tarot in tarots
                .card
                    .card-block
                        h1
                            p= tarot.name
                            img(src=`/images/cards/${tarot.img}` class=`${tarot.alignment}-card`)
                            h4
                            each fortune in tarot.fortune_telling
                                p= fortune
